@font-face {
  font-family: chopsic;
  src: url("chopsic.ttf");
}

@font-face {
  font-family: above;
  src: url("ABOVE.ttf");
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
}

#firstback {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 600px;
  width: 100% !important;
  float: left;
}

nav {
  z-index: 1;
}

/* optimize for mobile */

#dookie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url('./images/back.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#maintxt {
  font-size: 75px;
}


#dookChild {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.py-5 {
  padding-top: 40rem !important;
}



#textoverimage {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


#dookie {
  height: 100vh;
  width: 100%;
}

#projectHeader {
  margin-top: 50px;
}


.card {
  flex-direction: row !important;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #maintxt {
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    flex-direction: column !important;
  }
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#aboutMe {
  background: #1f3655;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}



@keyframes bobbing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#scrollIcon {
  width: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  align-self: center;
  bottom: 0;
  position: absolute;
  animation: bobbing 2s infinite;
}

